
#home{
	background-color: #ffc107;
	color: white;
}

.caixa{
	padding: 60px;
	border-bottom:1px solid #e5e5e5 ;
}

@media (min-width: 576px) { 

	#redes-sociais, #links-rodape !importa{
		text-align: justify !important; 
	}
 }